body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.header {
	padding: 20px 0;
}

.header-line {
	padding-top: 25px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav-item {
	color: #ff4f00;
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
	
	margin-right: 25px;
}

#nav-selected {
	color: #008080;
}

.nav-item:hover {
	color: #000000;
}

.num {
	color: #ff4f00;
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
}

.phone-text {
	color: #ff4f00;
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
}

.phone-holder {
	display: flex;
	align-items: center;

}

h1{
	color: #008080;
	font-size: 30px;
}

.banner-desc p{
	color: #ff4f00;
	font-size: 20px;

}

.aboutus{
    padding: 100px 0;
}

*{
    box-sizing: border-box;
}

.container{
    width: 100%;
    padding-right: 100px;
    padding-left: 200px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6{
    width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
}

.about-desc{
    text-align: left;
    padding-right: 20px;
    flex:1;
}

.about-desc h3{
    color:#226174;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 1em;
    margin-top: 10px;
    font-family: inherit;
    line-height: 1.1;
}

h3{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.about-desc p{
    color:#f4605c;
    line-height: 1.7em;
    margin-bottom: 1.5em;
}

p{
    margin:0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.aboutus h4{
    color:#226174;
    font-size: 23px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: inherit;
    line-height: 1.1;
}

h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.reason{
    width:33.33%;
    float:left;
    text-align: left;
    padding-right: 30px;
}

.reason h5{
    font-size: 50px;
    color:#f4605c;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.1;
}

h5{
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.reason p{
    font-size: 18px;
    color:#226174;
    font-weight: 500;
}

.about-image{
    margin-left: 20px;
}

img{
    border-radius: 30px;
    max-width: 100%;
    vertical-align: middle;
    border:0;
    overflow-clip-margin: content-box;
    overflow: clip;
}

#footer-logo {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
}

#social {
	float: left;
	margin-left: 20px;
	width: 130px;
}

.social-icon {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 10px;
}

.twitter {
	background: url(../images/twitter.png);
	background-position: 0 0;
}

.google {
	background: url(../images/google.png);
	background-position: -30px 0;
}

.footer {
	display: flex;
	flex-direction:row;
	background: #ff4f00;
	text-align: center;
}
#footer-logo {
	margin-left: 50px;
	margin-bottom:10px;
}
#social {
	color: white;
	margin-left: 50px;
}

.text-info  {
	color: #ffffff;
	font-size: 16px;
	margin-left: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}